body {
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    margin-bottom: 2%;
    background-color: #0e3967;
    color: #fff;
}

.header h1 {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.header nav {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

#addTask {
    height: 50px;
    width: 50px;
    border: none;
    background-color: #0b73eb;
    color: #fff;
    font-size: 24px;
    border-radius: 20%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#theme-toggle {
    height: 50px;
    width: 50px;
    border: none;
    background-color: #0b73eb;
    color: #fff;
    padding-right: 80px;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section{
    display: flex;
    margin: 0 auto;
    width: 100%; 
    justify-content: space-between;
}

#calendar {
    display: inline-block;
    padding-left: 40px;
    width: 60%;
}

#selectMonth {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%
}

tr{
    text-align:center;
    border: 1px solid black;
    padding: 5px
}

td {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    padding: 5px;
    margin: 0;
    text-align: left;
    vertical-align: top;

}

#tasks {
    text-align: center;
    display: inline-block;
}

.toDoList {
    padding-right: 250px;
}

body.lightmode {
    background-color: #f4f4f4;
    color: #000;
}

body.dark-mode {
    background-color: #121212;
    color: #fff;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #0e3967;
    margin-top: 2%;
}