body {
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    height: 125px;
    width: 100%;
    margin-bottom: 0;
    background-color: #0e3967;
    color: #fff;
}

.header h1 {
    display: flex;
    flex-shrink: 1;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-left: 3%;
    text-shadow: 3px 3px 8px black;
}

.header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding-right: 20px;
    ;
}

#city-form button:hover {
    box-shadow: 2px 2px 3px black;
}

#city-form {
    display:flex;
    align-items: center;
    justify-content: center;
}

#weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#weather-info p {
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    margin-bottom: 0px;
    font-size: clamp(8px, 4vw, 15px);
    font-weight: bold;

}


#weather {
    margin-top: 8px;
    margin-bottom: 8px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
}

#theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1px;
    background-color: #c9e0fa;   
    color: #0e3967;
    font-weight: bold;
    font-size: 110%;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 2px 2px 3px black; 
}

#theme-toggle:hover {
    box-shadow: 4px 4px 5px black;
}

#BackgroundImg{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10%;
    padding-left: 10%;
}

.section{
    display: flex;
    flex-grow: 4;
    margin: 10px;
    margin-left: 20px;
    width: 65%; 
    height: max-content;
    justify-content: space-between;
}

#calendar {
    display: inline-block;
    width: 100%;
    justify-content: center;
}

#calendar label {
    width: 150px;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
}

#yearSelect, #monthSelect{
    text-align: center;
    margin-top: 5px;
}

#yearSelect:hover {
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}

#monthSelect:hover {
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}

#selectMonthYear {
    width: clamp(200px, 40vw, 550px);
    margin: auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-radius: 20px;
    font-size: clamp(40px, 5vw, 75px);
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
    box-shadow: 2px 2px 3px black;
}

tr, th, td {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

th {
    font-size: 125%;
    border: 2px solid black
}

td {
    width: clamp(25px, 50vw, 100px);
    height: clamp(25px, 50vh, 100px);
    vertical-align: top;
    text-align: left;
    font-weight: normal;
}

.tdSelected {
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 2px 2px 3px;
}

td:hover { 
    box-shadow: 2px 2px 3px black;
    font-weight: bold;
    font-size: 115%;
    cursor: pointer;
}

select {
    display: block;
    margin: 20px auto;
    padding: 5px;
}

h2 {
    text-align: center;
}

label {
    text-align: center;
    display: block;
    font-size: 18px;
}

h3 {
    border-bottom: 2px solid black;
    height: 40px; 
    padding-top: 2px;
}

#tasks {
    text-align: center;
    flex-basis: 200px;
    flex-grow: 5;
    display: inline-block;
    margin-top: 160px;
    width: 20%;
}

.toDoList {
    margin-right: 30px;
    padding-top: 100px;
}

#listStyle {
    height: 545px; 
    width: 100%; 
    border: 2px solid black;
    box-shadow: 2px 2px 3px black;
    margin-left: 10%;
    margin-bottom: 5%;
}

#listStyle button {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
}

#listStyle button:hover {
    box-shadow: 1px 1px 2px #000000;
    cursor: pointer;
}

#listStyle p {
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: left;
    font-size: 110%;
    word-wrap: break-word;
}

#listStyle p input[type="checkbox"] {
    margin-right: 10px;
}

body.light-mode #listStyle p::before {
    margin-right: 10px;
    margin-left: 20px;
    color:black
}

body.dark-mode #listStyle p::before {
    margin-right: 10px;
    margin-left: 20px;
    color:rgb(255, 255, 255)
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #4e4e4e;
    color: #ffffff;
}

body.light-mode table {
    background-color: #f5f4f4;
}

body.dark-mode table{
    background-color: #6b6b6b;
}

body.light-mode thead {
    background-color: #c9e0fa;   
}

body.dark-mode thead {
    background-color: #6885a7;   
}

body.light-mode #calendar label {
    background-color: #f5f4f4;
}

body.dark-mode #calendar label {
    background-color: #6b6b6b;
}

body.light-mode #selectMonthYear {
    background-color: #f5f4f4;
}

body.dark-mode #selectMonthYear {
    background-color: #6b6b6b;
}

body.light-mode #listStyle {
    background-color: #f5f4f4;
}

body.dark-mode #listStyle {
    background-color: #6b6b6b;
}

body.light-mode h3 {
    background-color: #c9e0fa;   
}

body.dark-mode h3 {
    background-color: #6885a7;   
}

footer {
    height: 130px;
    width: 100%;
    background-color: #0e3967;
    margin-top: 0;
}

footer div h3 {
    display: flex;
    justify-content: space-evenly;
    background-color:#0e3967;  
}




@media screen and (max-width: 1024px){
    main {
        padding-left:60px;
        padding-right:60px;
    }
    .header h1 {
        font-size: 40px;
    }
    .header nav {
        width: 600px;
        gap: 6px;
    }
    #theme-toggle {
        width: 30px;
        height: 40px;
        padding-right: 35px;
        padding-left: 35px;
        font-size: 76%;
    }
    #weather {
        font-size: 15px;
    }
    #city-input {
        height: 22px;
        width:165px;
        font-size: 13px;
    }
    #city-form button {
        height: 22px;
        width: 85px;
        font-size: 11px;
    }
    #weather-info p{
        font-size: 12px;
    }
    .section {
        padding-right:0;
        margin-left:10px;
    }
    .toDoList {
        width: 400px;
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 25px;
    }
    #listStyle {
        width: 400px;
        height:500px
    }
    #tasks {
        width: 400px;
        margin-top: 25px;
    }
}

@media screen and (max-width: 768px){
    main {
        padding-left: 30px;
        padding-right: 30px;
    }
    .header h1 {
        font-size: 30px;
    }
    .header nav {
        width: 500px;
        gap: 5px;
    }
    #theme-toggle {
        width: 30px;
        height: 30px;
        padding-right: 27px;
        padding-left: 27px;
        font-size: 65%;
    }
    #weather {
        font-size: 11px;
    }
    #city-input {
        height: 20px;
        width:125px;
        font-size: 11px;
    }
    #city-form button {
        height: 20px;
        width: 70px;
        font-size: 9px;
    }
    #weather-info p{
        font-size: 9px;
    }
    .section {
        padding-right:0;
        margin-left:10px;
    }
    .toDoList {
        width: 300px;
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 25px;
    }
    #listStyle {
        width:300px;
        height:450px
    }
    #tasks {
        width: 300px;
        margin-top: 25px;
    }
}

@media screen and (max-width: 480px) {
    main {
        padding-left: 0;
        padding-right: 0
    }
    .header h1 {
        font-size: 22px;
        width: 125px;
    }
    .header nav {
        width: 350px;
        gap: 3px;
    }
    #theme-toggle {
        width: 30px;
        height: 20px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 50%;
    }
    #weather {
        font-size: 9px;
    }
    #city-input {
        height: 14px;
        width:90px;
        font-size: 8px;
    }
    #city-form button {
        height: 14px;
        width: 50px;
        font-size: 6px;
    }
    #weather-info p{
        font-size: 6px;
    }
    .section {
        padding-right:0;
        margin-left:10px;
    }
    .toDoList {
        width: 300px;
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 25px;
    }
    #listStyle {
        width:300px;
        height:400px
    }
    #tasks {
        width: 300px;
        margin-top: 25px;
    }
}